.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.link {
  display: flex;
  position: relative;
  box-shadow: 0px 4px 8px 0px #0000000d;
  flex-direction: column;
  cursor: pointer;
  max-width: 256px;
  overflow: hidden;
  border-radius: 12px;
  background: #ffffff;
}
.link__small {
  height: 100%;
  box-shadow: none;
  min-height: 0;
  border: 1px solid #e5e5ea;
}
.root .link:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.img__f7Vbe {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__z6Kr {
  display: block;
  position: relative;
}
.root__small:hover .box__small__z6KrCNeuE {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: #ffffffcc;
}
.box__rm3Mc {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  padding: 24px;
}
.box__rm3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__rm3Mc > :global(.__wab_flex-container) > *,
.box__rm3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__small__rm3McCNeuE {
  opacity: 0;
}
.root__small:hover .box__small__rm3McCNeuE {
  opacity: 1;
}
.box__vVMsy {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.svg__pziZy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wKnPe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wdOx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bKiz4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zb9LN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__joIGn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lMMc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__a7Z1L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__goQzR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__xeCXm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__inHfI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__osjrr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.box___2H3Na {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___2H3Na > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box___2H3Na > :global(.__wab_flex-container) > *,
.box___2H3Na > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.box__nWjlw {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__pIlG4 {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  min-width: 0;
}
.price:global(.__wab_instance) {
  position: relative;
}
.box___307Vv {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box__hgvtv {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__sL11 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
