.root {
  display: flex;
  flex-direction: row;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 1px;
}
.box___90QaE {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box__aPsiJ {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__aVlJi {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
