.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__tdvL9 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__tdvL9 {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container432 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.container432 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.container432 > :global(.__wab_flex-container) > *,
.container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) > *,
  .container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-top: 8px;
  }
}
.svg__z0Xrx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__seYwx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__haFv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hnAyA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hkfhw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__r6WyN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__quKgV {
  position: relative;
  color: #00000040;
}
.svg__mXiZd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__rkrWa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hfBJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mf1A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lQsro {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__skVv8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__u4Pk2 {
  position: relative;
  color: #00000040;
}
.svg___6NxPb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__asx41 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1XnN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aMPuw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oo7MV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5RhL3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___8MQyM {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8MQyM {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container4322 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container4322 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container4322 > :global(.__wab_flex-container) > *,
.container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) > *,
  .container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.box__zPaHb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__zPaHb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__zPaHb > :global(.__wab_flex-container) > *,
.box__zPaHb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.img__lljYt {
  object-fit: cover;
}
.box___47OpM {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box___47OpM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___47OpM > :global(.__wab_flex-container) > *,
.box___47OpM > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.img__osI2Q {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__uDazA {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__yqxcm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__yqxcm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__yqxcm > :global(.__wab_flex-container) > *,
.box__yqxcm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.img__auQyr {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qAxym {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__fSYa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__fSYa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__fSYa > :global(.__wab_flex-container) > *,
.box__fSYa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.img__nahPa {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2A6Ca {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__lvQe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__lvQe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__lvQe > :global(.__wab_flex-container) > *,
.box__lvQe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__x5LtF {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  position: relative;
}
.price:global(.__wab_instance) {
  position: relative;
}
.box__trds7 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box___3Xd9 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__vj3I3 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box__kXenM {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__kXenM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__kXenM > :global(.__wab_flex-container) > *,
.box__kXenM > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.img__cGdmM {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img___96Z8I {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img__nSqh2 {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.box___7Khr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___7Khr > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___7Khr > :global(.__wab_flex-container) > *,
.box___7Khr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box___8GtSw {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.box__mAwca {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__mAwca > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__mAwca > :global(.__wab_flex-container) > *,
.box__mAwca > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
  margin-top: 8px;
}
.svg__f3BDg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n1Os {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7UR6T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__myqsD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jM16I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u0K1U {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__h5NnW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k0Gkv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e95To {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rwMfa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lYaAs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__uqg4M {
  width: auto;
  display: inline-block;
}
.svg___6G5V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___9QCvf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xv3LB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bl1MK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ocnCa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yxBa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__rhwL0 {
  width: auto;
  display: inline-block;
}
.svg__opUwU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qGm4K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xbPi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zgMTu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e09Xs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8UeQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___7WzZy {
  width: auto;
  display: inline-block;
}
.svg__uHGo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__u6Deh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qmmT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mrsIh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v3Bip {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jWiMe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__pfk6 {
  width: auto;
  display: inline-block;
}
.svg__jgJ9T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__k799 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yiJSe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sucgs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Ori {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pHt8P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___94NjD {
  width: auto;
  display: inline-block;
}
.svg__ctn7R {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___5Yj7A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qzw1R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sELK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lubLb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7IztV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__zy3Aa {
  width: auto;
  display: inline-block;
}
.svg__l4Die {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pNpGd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f6AwU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3T9Hl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d05F4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qOwO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__o9NU6 {
  width: auto;
  display: inline-block;
}
.svg__kRpFh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___94LfK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f6XxT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rPuYv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tm92O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pmad {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__ulmaZ {
  width: auto;
  display: inline-block;
}
.svg__kx7W0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hoOLz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cKa2L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3U8T1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j1O7J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sEBa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__h5C {
  width: auto;
  display: inline-block;
}
.svg__rfyt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kFt64 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ac2Xx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__twKh9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mZew0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pzwyF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__yrOUx {
  width: auto;
  display: inline-block;
}
.svg__xKzTg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__omEAj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rcubj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rcpWs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ad0HH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e34JF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__snRy {
  width: auto;
  display: inline-block;
}
.svg__ns33M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lB6KT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__buFr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Ajc3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xnl6A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z2NqT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__cs9Nw {
  width: auto;
  display: inline-block;
}
.svg__aQxIl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__gb15 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__gb15 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__gb15 > :global(.__wab_flex-container) > *,
.box__gb15 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gb15 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gb15 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gb15 > :global(.__wab_flex-container) > *,
  .box__gb15 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.box__ge254 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__ge254 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__ge254 > :global(.__wab_flex-container) > *,
.box__ge254 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__g4CmK {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.button__rJTq:global(.__wab_instance) {
  position: relative;
}
.svg__x5Zda {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cnKbu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rFkap {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bhW9E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rpNg1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j3HEe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__hUyi3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__hUyi3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__hUyi3 > :global(.__wab_flex-container) > *,
.box__hUyi3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg___8QvsR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mFp9N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9XTte {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vUWak {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lOwdq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gjKp6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nuRw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wf413 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tMx7U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0CqUw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jcr71 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z2EE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator__zFsUe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__di1Kd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__di1Kd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__di1Kd > :global(.__wab_flex-container) > *,
.box__di1Kd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__psa5T {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.box__kjoOf {
  height: auto;
}
.separator__fCYgN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__hZyyJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__hZyyJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__hZyyJ > :global(.__wab_flex-container) > *,
.box__hZyyJ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__oMMhb {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.box__zBv3T {
  height: auto;
}
.separator__q35Jw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__x4LhQ {
  height: auto;
}
.separator__zhCsV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__dmhsf {
  height: auto;
}
.separator__gMl9R:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__sWyIg {
  height: auto;
}
.section__udWyj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.box__r80Sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box__bsTdK {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__tKqS4:global(.__wab_instance) {
  position: relative;
}
.svg__pyp8S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zjdmY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sk8MG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sxufY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uLi0Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kqju1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.box__xeDoi {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.box__xeDoi > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__xeDoi > :global(.__wab_flex-container) > *,
.box__xeDoi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.img__rAnlT {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.svg__lhLg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b2Kza {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__enLpS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uqZii {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bt1Hc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mqi9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__eQDae {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__gaM2E {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  text-align: left;
  min-width: 0;
}
.box___6YdUt {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box___8Lct3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__zPqNp {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.productCard___6Kvz3:global(.__wab_instance) {
  position: relative;
}
.img__r3Ecm {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.svg__hmdd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xEsK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pkThW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rk46R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dZzYw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fkZb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___2VcGe {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__nDup6 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  text-align: left;
  min-width: 0;
}
.box__eJEiZ {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box__pij0L {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__gnDru {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.productCard__hfDLd:global(.__wab_instance) {
  position: relative;
}
.img__jebV {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.svg__zGRyZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jon8O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___0GPc9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Zkv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i7RJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eg8Cj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__e37Bu {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__woCRs {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  text-align: left;
  min-width: 0;
}
.box__pRp8E {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box__zUl4B {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__krYbF {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.productCard__zDlqL:global(.__wab_instance) {
  position: relative;
}
.img__xpWz4 {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__nFaav {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9E4X7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kW1AG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tQv3F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n2Qzz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9HtYr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___1GMu3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box___5Ghvn {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  text-align: left;
  min-width: 0;
}
.box__tJuD0 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box__b7Bf5 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__pNmnJ {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.productCard__tK23K:global(.__wab_instance) {
  position: relative;
}
.img___0H5R {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__kas35 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__slAgh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hIIn8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bAy2F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kaDen {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a5Uk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__qpDTw {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box___6MAms {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  text-align: left;
  min-width: 0;
}
.box__bMdl {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box___1Xwtr {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__r6BvU {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.productCard__e7VVr:global(.__wab_instance) {
  position: relative;
}
.img___4JcO {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__mw04G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vy0Ed {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kxL3J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__czu0B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__boh8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xf8At {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__qH7T {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__trYSg {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  min-width: 0;
}
.box__j4BYh {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.box__guGvu {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__hmcgn {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins";
  color: #333333;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.box__jlkXo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__jlkXo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__jlkXo > :global(.__wab_flex-container) > *,
.box__jlkXo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box___9Q0Bq {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.box__j5SrX {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button___6IkCr:global(.__wab_instance) {
  position: relative;
}
.svg__esHcx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n2Lq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hoSk2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gA3JS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sfttl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lvstu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__yslEh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__yslEh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__yslEh > :global(.__wab_flex-container) > *,
.box__yslEh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__rPrdr {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box__qf7H5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__qf7H5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__qf7H5 > :global(.__wab_flex-container) > *,
.box__qf7H5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg__luRc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__juThl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xe7Nz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wgucV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9B8NM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rtdDo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rp7Y:global(.__wab_instance) {
  position: relative;
}
.svg___3R1Xg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__sorX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hyaQ0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9DHnj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2QhoB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__tZbIz {
  height: auto;
}
.svg__nHh8P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__g2DLl:global(.__wab_instance) {
  position: relative;
}
.svg__naLwB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___2X897 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hFpjo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5QrBa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f01Fi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__mxktQ {
  height: auto;
}
.svg__hdHrl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__fOEyn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__fOEyn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__fOEyn > :global(.__wab_flex-container) > *,
.box__fOEyn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__yaZy5 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box__om7RO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__oHf0V {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__oHf0V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__oHf0V > :global(.__wab_flex-container) > *,
.box__oHf0V > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg__cWtjF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f109Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oUCeV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sVpKu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bFcf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__alVrn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__molWm:global(.__wab_instance) {
  position: relative;
}
.svg__eAtsk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fOmZ2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9OFd1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p8Xp8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wheWj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Ghrv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ko5Ql:global(.__wab_instance) {
  position: relative;
}
.svg___2Uhz8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zOjH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8GCxz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hP8Pa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uvw5A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iWmW7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sijon:global(.__wab_instance) {
  position: relative;
}
.svg__j0TZf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__agZ7G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__amt8A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__md9I1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ne8W5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dak0B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__oG0Jk {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__oG0Jk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__oG0Jk > :global(.__wab_flex-container) > *,
.box__oG0Jk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.button__cGe14:global(.__wab_instance) {
  position: relative;
}
.svg___56FoV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hqjKy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vkk2R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jxvlS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nU6L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___68QP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eyUlD:global(.__wab_instance) {
  position: relative;
}
.svg__vAtWa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h5T0S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gs1Lr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vvm7Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1YkQ9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ystw5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__r4PS6:global(.__wab_instance) {
  position: relative;
}
.svg__hfk2E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p8DcM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___18Kfe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yy0Wg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tRqr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pBtJq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
