.root {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 12px;
  border-width: 0px;
  border-style: none;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.root__colors_lightGray {
  background: #f2f2f7;
}
.root__colors_lightGrayOutline {
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root__size_large {
  padding-left: 16px;
  padding-right: 16px;
}
.root__size_large > :global(.__wab_flex-container) {
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__size_large > :global(.__wab_flex-container) > *,
.root__size_large > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 12px;
  margin-top: 0px;
}
.root__size_small {
  padding: 6px 8px;
}
.root__size_narrow {
  padding-left: 6px;
  padding-right: 6px;
}
.root__rounded {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 24px;
}
.root__link {
  padding-left: 0px;
  padding-right: 0px;
}
.root__states_active {
  cursor: pointer;
  flex-direction: row;
  border-radius: 6px;
  padding: 8px 12px;
  background: #eeeeee;
}
.root__states_active > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__states_active > :global(.__wab_flex-container) > *,
.root__states_active
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 8px;
  margin-top: 0px;
}
.root__icons_five > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__icons_five > :global(.__wab_flex-container) > *,
.root__icons_five > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
  margin-top: 0px;
}
.root__colors_gray {
  background: #8e8e93;
}
.root__colors_white {
  background: #ffffff;
}
.root__colors_blue {
  background: #007aff;
}
.root__colors_black {
  background: #333333;
}
.root__rounded_size_large {
  padding-left: 20px;
  padding-right: 20px;
}
.root:hover {
  background: #eeeeee;
}
.root:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.root__link:hover {
  background: none;
}
.root__icons_five:hover {
  background: #ffffff;
}
.root__colors_gray:hover {
  background: #98989d;
}
.root__colors_blue:hover {
  background: #0a84ff;
}
.root__colors_black:hover {
  background: #222222;
}
.box__tvPxS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.box__size_large__tvPxSm01Nc {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.box__size_small__tvPxSm3Uy {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotChildren__colors_gray {
  color: #ffffff;
}
.slotChildren__colors_blue {
  color: #ffffff;
}
.slotChildren__colors_black {
  color: #ffffff;
}
.svg__ub0Vx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__pLvc7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.box__size_large__pLvc7M01Nc {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.box__size_small__pLvc7M3Uy {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotChildren3__colors_gray {
  color: #ffffff;
}
.slotChildren3__colors_blue {
  color: #ffffff;
}
.slotChildren3__colors_black {
  color: #ffffff;
}
.svg___5FDpu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___6TLCj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.box__size_large___6TLCjm01Nc {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.box__size_small___6TLCjM3Uy {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotChildren32__colors_gray {
  color: #ffffff;
}
.slotChildren32__colors_blue {
  color: #ffffff;
}
.slotChildren32__colors_black {
  color: #ffffff;
}
.svg__e2Zod {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__n2N6Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.box__size_large__n2N6Qm01Nc {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.box__size_small__n2N6QM3Uy {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotChildren322__colors_gray {
  color: #ffffff;
}
.slotChildren322__colors_blue {
  color: #ffffff;
}
.slotChildren322__colors_black {
  color: #ffffff;
}
.svg__pFrj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__j7Kop {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.box__size_large__j7Kopm01Nc {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.box__size_small__j7KopM3Uy {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotChildren3222__colors_gray {
  color: #ffffff;
}
.slotChildren3222__colors_blue {
  color: #ffffff;
}
.slotChildren3222__colors_black {
  color: #ffffff;
}
.svg___7Cgve {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.slotSlot {
  line-height: 24px;
}
.slotSlot__size_large {
  font-size: 24px;
  line-height: 32px;
}
.slotSlot__size_small {
  font-size: 12px;
  line-height: 16px;
}
.slotSlot__link {
  color: #007aff /* plasmic-token: 2Xp5Ontx_lLGj2 */;
}
.slotSlot__colors_gray {
  color: #ffffff;
}
.slotSlot__colors_blue {
  color: #ffffff;
}
.slotSlot__colors_black {
  color: #ffffff;
}
.root__link:hover .slotSlot__link > *,
.root__link:hover .slotSlot__link > .__wab_slot > *,
.root__link:hover .slotSlot__link > .__wab_slot > .__wab_slot > *,
.root__link:hover
  .slotSlot__link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > * {
  text-decoration-line: underline;
}
.box__pzfbI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__icons_end__pzfbI9RwQ {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-row-gap: 0px;
}
.slotChildren2__link {
  color: #007aff /* plasmic-token: 2Xp5Ontx_lLGj2 */;
}
.slotChildren2__colors_black {
  color: #ffffff;
}
.svg__suTl9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
