.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.container2 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 > :global(.__wab_flex-container) > *,
  .container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.box__pbnec {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__pbnec > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__pbnec > :global(.__wab_flex-container) > *,
.box__pbnec > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__filled__pbnecRfjDk > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.box__xbaM {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.link {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre-wrap;
  color: #333333;
}
.box__fkSbD {
  color: #666666 /* plasmic-token: XUXqAN4x1Va5mq */;
  height: auto;
}
.box___2UChE {
  position: relative;
}
.box___9Cusz {
  position: relative;
}
.box__h6ZmS {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__h6ZmS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__h6ZmS > :global(.__wab_flex-container) > *,
.box__h6ZmS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__igo5T {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg___26RB {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.box__ouc7M {
  position: relative;
  text-align: center;
}
.box__filled__ouc7MRfjDk {
  text-align: left;
}
.svg__cMBc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oyvVz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uMe7C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o9Mep {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iVyQi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ffqaS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ty9IV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pFvSf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0X3R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ojXs3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rSde {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k7RM1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__z0BpH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.box__filled__z0BpHRfjDk {
  top: auto;
  left: auto;
}
.box__oxck1 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__oxck1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__oxck1 > :global(.__wab_flex-container) > *,
.box__oxck1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box___72Uhc {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
  background: #333333;
}
.box___72Uhc > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___72Uhc > :global(.__wab_flex-container) > *,
.box___72Uhc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__cfzxy {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__uxtzc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__uxtzc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__uxtzc > :global(.__wab_flex-container) > *,
.box__uxtzc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__kA9PK {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__ofnjp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotSlot5 {
  color: #ffffff80;
}
.box__ljnX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotChildren {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.box___93Pj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__tymfa {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__qDzxY {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.box__goSj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__lm0U {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__vqdRl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotSlot2 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__xcuC:global(.__wab_instance) {
  position: relative;
}
.svg__aUmsA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___008ZZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xoENz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yhDv1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bQH4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__bRrwN {
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
}
.svg__foMm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.box__msUc4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__uvad4 {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__svy0U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotSlot4 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__nokV2:global(.__wab_instance) {
  position: relative;
}
.svg__bxthF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jAf49 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__psPxb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sbUif {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1AkSa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__abS {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__k1MqF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box___6NY9Y {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___6NY9Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box___6NY9Y > :global(.__wab_flex-container) > *,
.box___6NY9Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__fiLhC {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.box__ya4Rx {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__xhP9O {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.box__xhP9O > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__xhP9O > :global(.__wab_flex-container) > *,
.box__xhP9O > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.img__i8Jo1 {
  position: relative;
  left: auto;
  top: auto;
}
.img__xNpo {
  position: relative;
}
.img__pfS0O {
  position: relative;
}
.img__t7Jf8 {
  position: relative;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
  background: #f2f2f7;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) > *,
  .container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__xdDcP {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.box__ao8X7 {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__ao8X7 > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__ao8X7 > :global(.__wab_flex-container) > *,
.box__ao8X7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ao8X7 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ao8X7 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ao8X7 > :global(.__wab_flex-container) > *,
  .box__ao8X7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.box___8EGhW {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___8EGhW {
    text-align: center;
  }
}
.button__qDnhp:global(.__wab_instance) {
  position: relative;
}
.svg__gyfq7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u9X4L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j5JbP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w61X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u00Xu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bDwb5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.box__nBe3C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__nBe3C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__nBe3C > :global(.__wab_flex-container) > *,
.box__nBe3C > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__trkSl {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.box___1D67H {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button___6Tguf:global(.__wab_instance) {
  position: relative;
}
.svg__rSbC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sRBfr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5ODz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cvbWi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eTcAt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qfs3Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__mqEqb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__mqEqb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__mqEqb > :global(.__wab_flex-container) > *,
.box__mqEqb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__sGql8 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box__so5Z9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__so5Z9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__so5Z9 > :global(.__wab_flex-container) > *,
.box__so5Z9 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg__emHxA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__fIh4H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bOay5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wzaKt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oxPgb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tAkXa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1Lpfk:global(.__wab_instance) {
  position: relative;
}
.svg__ezQZq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___1Sk9D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Bix0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b82Hu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kBk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__wu1IL {
  height: auto;
}
.svg__faolS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dpjZm:global(.__wab_instance) {
  position: relative;
}
.svg___9Q1Z1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___0IjAv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zxVJx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3HvCx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hN4Ru {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__jbt91 {
  height: auto;
}
.svg__osiYo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box___8Z7Nq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box___8Z7Nq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___8Z7Nq > :global(.__wab_flex-container) > *,
.box___8Z7Nq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box___30B1H {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box__eGv8C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box___9FfvH {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box___9FfvH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box___9FfvH > :global(.__wab_flex-container) > *,
.box___9FfvH > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg__alh4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kBuuu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nMcXa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xkqOq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zYiaq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1VhO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__o7LwK:global(.__wab_instance) {
  position: relative;
}
.svg__wlgGq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uaQoe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k2Hx2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7J4HJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b9Ag {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ppNTf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ymx8V:global(.__wab_instance) {
  position: relative;
}
.svg__tvYbn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gau5B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xf3Zq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__la8Rt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jYmdo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nUgZy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__od1Hp:global(.__wab_instance) {
  position: relative;
}
.svg__kbCiZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kgMub {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wQj84 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Ftkr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2DOep {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iI6O9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__xuWep {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__xuWep > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__xuWep > :global(.__wab_flex-container) > *,
.box__xuWep > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.button__vbsuZ:global(.__wab_instance) {
  position: relative;
}
.svg__jXDaJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___395R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rnmWr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sn5D4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i9WpC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yODr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__byO2Q:global(.__wab_instance) {
  position: relative;
}
.svg___7H7Tj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9EngQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6VgJf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yPdok {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jg1Hk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kig1I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__viwAc:global(.__wab_instance) {
  position: relative;
}
.svg___8F9PQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ngNdS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zucSk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sWhdP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rVzJe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kjSmk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
